@use '../constants/variables' as *;

.nav__btn {
  padding: 8px 14px;
  border-radius: 12px;

  border: 1px solid $nav-btn-border-color;
  background: $nav-btn-bg-color;

  color: $color-text;
  font: inherit;
  cursor: pointer;

  transition:
    background-color 160ms ease,
    border-color 160ms ease,
    transform 80ms ease;
}

.nav__btn:hover {
  background-color: $nav-btn-hover-bg-color;
  border-color: $nav-btn-hover-border-color;
}

.nav__btn_active {
  background-color: $nav-btn-active-bg-color;
  border-color: $nav-btn-active-border-color;
}
